# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Entorno virtual
venv/
.venv/
env/

# Variables de entorno (NUNCA subir al repo)
.env

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Testing
.pytest_cache/
htmlcov/
.coverage

# OS
.DS_Store
Thumbs.db
